* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    /* background-color: #7a7374; */
}
.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url(../images/texture.png);
    transition: background-color 2s ease-in;
    background-color: #ddd;
    display: flex;
    z-index: -110;
}

/* 左侧的导航 */
.left {
    width: 18%;
    height: 100%;
    border-right: 1px dotted black;
    /* background-color: antiquewhite; */
}
.left .logo h1 {
    margin-top: 40px;
    text-align: center;
    font-family: "Chancery", cursive, LiSu, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
.left .logo p {
    text-align: end;
    margin-top: 10px;
    padding-right: 20px;
}
.left ul {
    margin-top: 70px;
}
.left ul li {
    margin: 6px 50px;
}
.left ul li a {
    font-size: 16px;
    line-height: 30px;
    padding: 5px 20px;
    margin: 2px 0;
    color: rgb(17, 15, 15);
}
.left ul li a:hover {
    color: #ffffff;
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
    border-radius: 5px;
}
/* .left ul li a:visited {
    color: rgb(255, 208, 0);
} */
.right {
    flex: 1;
    height: 100%;
    overflow: auto;
}
.mod_content {
    display: flex;
}
.left_aside {
    width: 10%;
}
.right_aside {
    width: 35%;
}
.mod_wrapper {
    width: 55%;
}
.module {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.catalog {
    grid-column: 1/3;
    font-size: 24px;
    font-weight: bold;
    padding-left: -20px;
    margin-top: 20px;
    line-height: 48px;
}
.module .contents a {
    text-align: start;
    color: rgb(41, 37, 37);
    padding: 4px 6px;
}
.module .contents a:hover {
    color: #ffffff;
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
    border-radius: 5px;
}
